@import "colores.scss";
body{
    main{

        #chocolatesBanner{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .chocolatesBanner{
            width: 100%;            
        }
        .chocolatesFlex{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;

            img{
                width: 250px;
                height: 250px;
                margin: 25px;
                border-radius: 10px;
            }
        }
        .muestraDeChocolate{
                display: grid;
                grid-template-columns:repeat(3, 1fr);
                justify-items: center;
                align-items: center;
                justify-content: center;
                align-content: center;

                .tipoDeChocolate{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    border: 5px solid $colorBordeCajas;
                    border-radius: 5px;
                    background-color: $colorBlanco;
                    margin: 10px 25px 10px 25px;
                    justify-items: center;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
    
                    

                    img{
                        width: 250px;
                        height: 300px;
                    }
                }
            }
        .h3Opacy{
            @extend .inicioTitulos__titulosMenores-tituloOpacity;
        }
        .comentarios{
            display: grid;
            grid-template-columns: 1fr 10fr;
            grid-template-rows: 1fr 1fr;
            border: 5px solid #607D8B;
            border-radius: 60px;
            margin: 50px;
            padding: 10px;
            align-items: center;
            font-style: italic;

            img{
                width: 100%;
                margin: 5px;
                border-radius: 30px;
            }
            
        }   
    }
}
@media only screen and (max-width:768px){
    body{
        main{
            .muestraDeChocolate{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
                align-items: center;
                justify-content: center;
                align-content: center;
                .tipoDeChocolate{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    border: 5px solid $colorBordeCajas;
                    border-radius: 5px;
                    background-color: $colorBlanco;
                    margin: 10px 25px 10px 25px;
                    text-align:center;
                    justify-items: center;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
      
                }
            }
        }
    }
    
}
@media only screen and ( max-width:600px){
    body{
        main{
            .chocolatesFlex{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);  
            }
            .muestraDeChocolate{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);

                .tipoDeChocolate{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    border: 5px solid $colorBordeCajas;
                    border-radius: 5px;
                    background-color: $colorBlanco;
                    margin: 10px 25px 10px 25px;
                    justify-items: center;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
    

                    img{
                        width: 250px;
                        height: 300px;
                    }
                }
            }
            .comentarios{
                display: grid;
                grid-template-columns: 1fr 10fr;
                grid-template-rows: 1fr 1fr;
                border: 5px solid #607D8B;
                border-radius: 60px;
                margin: 50px;
                padding: 10px;
                align-items: center;
                font-style: italic;
    
                img{
                    width: 100%;
                    margin: 5px;
                    border-radius: 30px;
                }
                
            }      
        }
    }
}