$colorBlanco:#FFFFFF;
$colorHeader:#212529;
$colorTitulos: #FF4081;
$colorSubTitulos:#757575;
$colorBordeCajas:#607D8B;
$colorSecundarioDivision:#c0c8cc;
$colorBordesImgIndex:#ffdde7;
$colorNegro:#000000;
$colorFooter:#455A64;
$colorFooterSecundario:#414141;
$colorTablasClaro: #E5EDE8;
$colorTablaOscuro:#483D4B;